@font-face{
  font-family : "MyWebFont";
  src: url("https://loveapi.ml/centuryGothic.ttf") format("truetype");
}

html{
  font-family: MyWebFont;
}

fieldset{
  border-radius: 8px;
}
a{
  text-decoration: none !important;
}
html{
    /* Below css is for disabling text selection! */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */

}